<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	"
	>

	<bean name="whiteBoxViewMetadataNames" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>storageId</value>
				<value>endTime</value>
				<value>duration</value>
				<value>name</value>
				<value>correlationId</value>
				<value>status</value>
				<value>numberOfCheckpoints</value>
				<value>estimatedMemoryUsage</value>
				<value>storageSize</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- Profiles can override the default view with this bean -->
	<bean name="defaultView" class="java.lang.String">
		<!-- Demonstrate/test setting default view to other than first view in the list  -->
		<constructor-arg value="White box"/>
	</bean>

	<bean name="treePane" class="nl.nn.testtool.echo2.reports.TreePane" autowire="byName" init-method="initBean" scope="prototype"/>

	<bean name="tabs" class="nl.nn.testtool.echo2.Tabs" scope="prototype">
		<property name="tabs">
			<list>
				<ref bean="debugPane"/>
				<ref bean="testPane"/>
				<ref bean="comparePane"/>
			</list>
		</property>
	</bean>

	<bean name="reportsTreeCellRenderer" class="nl.nn.testtool.echo2.reports.ReportsTreeCellRenderer"/>

	<bean name="rerunner" class="org.ibissource.SpringNativeDemo.SimpleRerunner" autowire="byName"/>

	<bean name="dbmsSupport" class="nl.nn.testtool.storage.database.DbmsSupport" autowire="byName"/>

	<bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<beans profile="storage.file">
		<bean name="defaultView" class="java.lang.String">
			<constructor-arg value="File storage"/>
		</bean>
		<bean name="testStorage" class="nl.nn.testtool.storage.file.TestStorage" autowire="byName" init-method="init">
			<property name="name" value="Test"/>
			<property name="reportsFilename" value="../ibis-ladybug/data/file-storage/ladybug.tts"/>
			<property name="metadataFilename" value="../ibis-ladybug/data/file-storage/ladybug.ttm"/>
			<property name="persistentMetadata">
				<list>
					<value>storageId</value>
					<value>storageSize</value>
					<value>path</value>
					<value>name</value>
				</list>
			</property>
		</bean>
	</beans>

	<beans profile="storage.xml">
		<bean name="testStorage" class="nl.nn.testtool.storage.xml.XmlStorage" autowire="byName" init-method="init">
			<property name="name" value="Test"/>
			<property name="reportsFolder" value="../ibis-ladybug-test-webapp/src/test/testtool"/>
		</bean>
	</beans>

	<beans profile="storage.database">
		<bean name="defaultView" class="java.lang.String">
			<constructor-arg value="Database storage"/>
		</bean>
	</beans>

	<beans profile="storage.proofofmigration">
		<bean name="defaultView" class="java.lang.String">
			<constructor-arg value="Proof of migration storage"/>
		</bean>
	</beans>

</beans>
